h1 {
	color: #FF6700;
	font-family: "Playfair Display", serif;
	font-size: 64px;

}

p {
	color: #004E98;
	font-family: "Roboto", sans-serif;
	font-size: 24px;

}


body {
	background-color: #EBEBEB;
}